@import '../common/_constants.scss';
.code {
  font-size: 14px;
  margin-bottom: -5px;
  margin-top: 5px;
}
.currency_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  border: 1px solid teal;
  .convertible_currency {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 25%;
    .convertable_currency__value {
      font-size: 1.5em;
      font-weight: 600;
      margin-right: 10px;
      color: $main-color;
    }
    .convertable_currency__char_code {
      font-size: 1.5em;
      color: $currency-color;
    }
  }
  .base_currency {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    width: 25%;
  .base_currency__value {
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 10px;
    color: $main-color;
  }
    .base_currency__char_code {
      font-size: 1.5em;
      color: $currency-color;
    }
  }
  .change_value {
    display: flex;
    align-self: center;
  }
  .currency_difference {
    display: flex;
    align-self: center;
    margin-right: 5px;
    .currency_difference__value {
      margin-right: 5px;
    }
    .currency_difference__icon{
      display: flex;
      align-self: center;
    }
  }

  .high {
    color: $high-currency;
  }
  .low {
    color: $low-currency;
  }
}
