@import '../common/_constants.scss';

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  max-height: 110px;
  border-bottom: 2px solid $main-color;
  background-color: $layout-color;
  overflow: hidden;

  .navbar_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;

    .navbar_content__links_group {
      display: flex;

        .router_link {
          display: flex;
          align-self: center;
          border: 2px solid $main-color;
          padding: 5px;
          margin-right: 15px;
          font-size: 1.2em;
          background-color: white;
          text-decoration: none;
          color: $main-color;
        }

      .navbar_content__links_group___link_active {
        display: flex;
        align-self: center;
        padding: 5px;
        font-size: 1.2em;
        background-color: $main-color;
        margin-left: 15px;
        text-decoration: none;
        color: white;
      }

    }

      .navbar_content__logo {
        display: flex;
        align-self: center;
        flex-direction: column;
        font-size: 1.3em;
        color: $main-color;
        cursor: default;
      }

      .navbar_content__date {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        color: $main-color;
        font-size: 1em;
        margin-left: 5px;
      }
    }
  }
