@import 'common/_constants.scss';
.application {
  dispaly: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 420px;
}
.main {
  width: 70%;
  min-width: 420px;
  height: 100%;
  margin: 0 auto;
}